@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #010100; /*SE NÃO MUDAR COR, EDITAR AQUI*/
}

/*PÁGINA LADO ESQUERDO*/

aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem;
}

main {
  padding-top: 30px;
}

body {
  width: 1200px;
  height: 720px;
  margin: 0 auto;
  background-color: #efe6e0;
  display: flex;
  flex-direction: row;
}

/*CABEÇALHO*/

h2 {
  padding-left: 5px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
}

header {
  height: 4rem;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
}

a {
  font-size: 16px;
  font-weight: 100;
}

a.button_main {
  letter-spacing: 1px;
}

.login_main {
  display: flex;
  flex-direction: column;
}

.login_main:hover {
  border-top: 1px solid #010100;
}

.image_button {
  margin-top: 5px;
  margin-left: -5px;
}

.header_logo {
  display: inline-flex;
  align-items: flex-end;
}

.image_spark {
  width: 34px;
  height: 34px;
}

.header_conteudo {
  display: flex;
  height: 100%;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

/*CONTEUDO*/

.conteudo_main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.conteudo_text {
  text-align: left;
  margin-bottom: 4rem;
  letter-spacing: 2.5px;

  font-size: 4rem;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.conteudo_image {
  height: 35px;
  width: 60px;
}

h1 {
  line-height: 80px;
}

.conteudo_button_item_um {
  border-bottom: 0.5px solid #010100;
  display: inline-flex;
  color: #010100;
  align-items: center;
  padding: 1rem 1.5rem;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  height: 52px;
}

.conteudo_button_item_um:hover {
  background-color: #010100;
  color: #efe6e0;
}

.conteudo_button_item_dois {
  margin-left: 1rem;
  border-bottom: 0.5px solid #010100;
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  height: 52px;
}

.conteudo_button_item_dois:hover {
  background-color: #010100;
  color: #efe6e0;
}

/*RODAPÉ*/

.imagem_footer {
  display: block;
  float: right;
  width: 175px;
  height: 115px;
}

/*PÁGINA LADO DIREITO*/

article {
  margin: 0;
}

.image {
  height: 100%;
  background-size: 100%;
}
